data/*
wandb
video_venv

*.ipynb*
__pycache__
.DS*
*.pth
*.mp4

!binary_video_classification.ipynb
!binary_image_classification.ipynb
!dancing_video_classification.ipynb
!dancing_image_classification.ipynb
!.gitkeep